$primary-dark: #07282b;
$primary-main: #3c7d71;
$primary-light: #a0d7c1;

$secondary-dark: #fd6e00;
$secondary-main: #ff9f00;
$secondary-light: #ffdb80;

$ink-dark: #06171e;
$ink-main: #63696c;
$ink-light: #eff8fc;

$black: #000;
$white: #fff;
$forms: #f2f2f2;
